.lobby {
  border-radius: 15px;
  background: #454545;
  padding: 10px;
  height: 500px;
  overflow: scroll;
}

.hooks-list {
  border: 1px #2e2e2e solid;
  font-size: .9em;
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;

  th {
    text-align: left;
  }

  thead {
    font-weight: bold;
    color: #c6c6c6;
  }

  .hook-join:hover {
    background-color: #a35639;
    td {
      color: white;
      cursor: pointer;
    }
  }
  .hook-join {
    td, th {
      padding: 1em .5em;
      vertical-align: middle;
    }

    td {
      border-bottom: 1px solid rgba(0,0,0,.5);
      color: #a3a3a3;
    }
  }
}